body{
  padding: 25px;
  background: url("https://wallpapercave.com/wp/wp15243904.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 25px;
  z-index: -1;
}
.title {
  font-family: Poppins,Times New Roman;
	color: black;
	text-align: left;
}
.pfp{
  display: block;
  margin:0 auto;
  height: 150px;
  width: 150px;
  border-radius: 60%;
  border: 2px solid #00ff00;
  box-shadow: 0 0 20px;
rgba(0,0,0,0.1)
}
.pfp:hover{
  transform: scale(1.05);
  box-shadow: 0 0 30px;
rbga(0,0,0,0.5);
  transition: all 0.5s ease;
}
.name{
  text-align: center;
  font-family: Poppins,Sans-Serif;
}
.descreption{
  font-family: roboto,Sans-Serif;
  text-align: center;
  font-size: 16px;
  background-color: rgba(51,255,153,0.7);
  padding: 15px 20px;
  border-radius: 15px;
  max-width: 80%;
  margin: 20px auto;
  line-height: 1.6;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
.descreption:hover{
  transform: scale(1.12);
  transition: 0.5s;
}
.skills{
  text-align: center;
  margin-top:40px;
}
.skill-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}
.figma{
  display:flex;
  justify-content: center;
  margin-top: 10px;
}
.pro-lang{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}
