*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
body{
    background-color: #040D12;
    color: ghostwhite;
    line-height: 1.6;
    font-family:  "Poppins" ,'Times New Roman';
    font-size: large;
}
.log h1{
    font-family: "Poppins", "Times New Roman";
    color: yellowgreen;
} 

.nav-link{
    text-align: center;
    color: whitesmoke;
}
header{
    background-color: #183D3D;
    color: ghostwhite;
    text-align: center;
}
.section {
    text-align:center;
}
.section p{
    font-family: "poppins","Times new roman";
}
.section h2{
    color: #F39F5A;
}
/* .skill-list{
    background-color: #5C8374; */
/* } */
.skill-item{
    background-color: #5c8374;
    color: #DEE791;
}
.skill-item h2{
    color: #2A3663;
}
